name = "blessings"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = "dist"

[[d1_databases]]
binding = "DB"
database_name = "blessings-db"
database_id = "4cd1fde5-67ec-4aea-8958-d33f5275c3ba"
